html{
    padding: 0px;
    margin:0px;
    background-color: antiquewhite;
}

header{
    text-align: center;
    
}

img{
    width: 50%;
}

.quote{
    text-align: center;
    font-family: sans-serif;
    font-size:15px;
}
.title{
    text-align: center;
}

span{
    font-weight: bold;
}
footer{
    margin-top: 50px;
}
